# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Generated dependency artifacts
*.egg
*.egg-info/
dist/
build/
.eggs/

# Test/coverage artifacts
.coverage
htmlcov/
.cache/
pytest_cache/
.tox/
nosetests.xml
coverage.xml

# IDE/Editor configurations
# VS Code
.vscode/
.code-workspace

# PyCharm
.idea/

# -----------------------------
# macOS
# -----------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# -----------------------------
# Docker
# -----------------------------
# Ignore local volume folders
docker-data/

# -----------------------------
# Secrets and environment variables
# -----------------------------
.env
*.key
*.pem

# -----------------------------
# Misc
# -----------------------------
# Logs
*.log

# Power BI temp/cache files
*.tmp